---
import RealityLayout from "../../layouts/RealityLayout.astro";
---

<RealityLayout title="Child Sacrifice - Awareness">
    <h1>Child Sacrifice</h1>

    <p>The world is full of problems. What hidden realities are you unaware of?</p>
</RealityLayout>

<style>
	
</style>
