---
import HomeLayout from "../layouts/HomeLayout.astro";
import SelectRandomButton from "../components/SelectRandomButton.astro";
---

<HomeLayout title="Awareness">
	<main>
		<h1>Awareness...</h1>

		<p>The world is full of problems. What hidden realities are you unaware of?</p>

		<SelectRandomButton></SelectRandomButton>

		<h2>Or Discover One of Our Recommended Readings</h2>
	</main>
</HomeLayout>

<style>
	h1 {
		margin: 2rem 0;
		text-align: left;
	}

	h2 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}
</style>
