---
import HomeLayout from "../layouts/HomeLayout.astro";
---

<HomeLayout title="Awareness - Transparency">
	<main>
		<h1>Awareness...</h1>

		<p>is committed to providing a useful and truthful compilation of the stuggles humans face and cause each other.</p>
		<p>All information is gathered by non-experts passionate towards this project.</p>
		<p>The intention of this website is to bring <strong>awareness</strong> to problems, not to add to existing anger and division.</p>
	</main>
</HomeLayout>

<style>
	:root {
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}
</style>
