---
import { realities } from "../data/realities"
---

<a rel="prefetch" href={`/awareness/realities/${realities[(Math.random() * realities.length) | 0]}`}>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M10.59 9.17L5.41 4 4 5.41l5.17 5.17 1.42-1.41zM14.5 4l2.04 2.04L4 18.59 5.41 20 17.96 7.46 20 9.5V4h-5.5zm.33 9.41l-1.41 1.41 3.13 3.13L14.5 20H20v-5.5l-2.04 2.04-3.13-3.13z"/></svg>
    <span>Discover a Problem</span>
</a>

<style>
    a {
        display: block;
        width: 100%;
        text-align: center;
        background-color: var(--color-bg);
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        box-shadow: 2px 3px 8px rgb(0, 0, 0, 0.2);
        transition-duration: 0.3s;
        border-radius: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
    }

    a > svg {
        margin-right: 0.3rem;
        width: var(--font-size-base);
        height: var(--font-size-base);
        fill: rgb(121, 121, 121);
    }

    a:hover {
        box-shadow: 2px 3px 8px rgb(0, 0, 0, 0.35);
    }
</style>