---
import BelowFooter from "../components/BelowFooter.astro";
import SelectRandomButton from "../components/SelectRandomButton.astro";

export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/awareness/favicon.ico" />
		<title>{title}</title>
		<meta name="description" content={description}>
	</head>
	<body>
        <main>
            <slot />
            <SelectRandomButton></SelectRandomButton>
        </main>
		<footer>
			<hr>
			<div>
				<a href="/awareness/" rel="prefetch">Home</a>
				<a href="/awareness/transparency" rel="prefetch">Transparency Statement</a>
			</div>
			<BelowFooter></BelowFooter>
		</footer>
	</body>
</html>
<style>
	:root {
		--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
		--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

		--color-text: hsl(12, 5%, 4%);
		--color-bg: hsl(10, 21%, 95%);
		--color-border: hsl(17, 24%, 90%);
	}

	html {
		font-family: Poppins, sans-serif;
		font-size: var(--font-size-base);
		color: var(--color-text);
		background-color: var(--color-bg);
	}

	body {
		margin: 0;
	}

	footer > div {
		display: flex;
		flex-direction: row;
		justify-content: start;
	}

	footer {
		margin: auto;
		padding-left: 1em;
		padding-right: 1em;
		max-width: 60ch;
	}

	footer a {
		text-decoration: none;
		color: gray;
		transition-duration: 0.3s;
	}

	footer a:not(:first-child) {
		margin-left: 2ch;
	}

	footer a:hover {
		text-decoration: none;
		color: black;
	}

	:global(h1) {
		font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
		font-size: var(--font-size-xl);
	}

	:global(h2) {
		font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
		font-size: var(--font-size-lg);
	}

	:global(h3) {
		font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
		font-size: calc(var(--font-size-base) * 1.3);
	}

    h1 {
		/* margin: 2rem 0; */
		text-align: left;
	}

	h2 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}
</style>
